In [14]:
import pandas as pd
import numpy as np
import textblob

In [15]:
string_sanetize = lambda x:  "mama" if str(x) == "nan" else ""

In [16]:
df = pd.read_csv("data/amazon_reviews.txt", sep="\t")
df = df.rename(columns={"PRODUCT_ID": "product_id", "PRODUCT_TITLE": "product_title","REVIEW_TITLE": "review_title","REVIEW_TEXT": "review_text", "VERIFIED_PURCHASE": "verified", "RATING": "rating" })
df['product_id'] = df['product_id'].apply(lambda x: str(x)).astype(str)
df['product_title'] = df['product_title'].apply(string_sanetize).astype(str)
df['rating'] = df['rating'].apply(lambda x: float(x))
df = df.drop(columns=["DOC_ID"])
df

,LABEL,rating,verified,PRODUCT_CATEGORY,product_id,product_title,review_title,review_text
0,__label1__,4.0,N,PC,B00008NG7N,,useful,"When least you think so, this product will sav..."
1,__label1__,4.0,Y,Wireless,B00LH0Y3NM,,New era for batteries,Lithium batteries are something new introduced...
2,__label1__,3.0,N,Baby,B000I5UZ1Q,,doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,__label1__,4.0,N,Office Products,B003822IRA,,Great computing!,I was looking for an inexpensive desk calcolat...
4,__label1__,4.0,N,Beauty,B00PWSAXAM,,Only use twice a week,I only use it twice a week and the results are...
...,...,...,...,...,...,...,...,...
20995,__label2__,4.0,Y,Shoes,B00BXYM8T8,,wide width is great!,"I bought these for work. I have high arches, ..."
20996,__label2__,4.0,Y,Shoes,B0014C2ORK,,Love crocs!,Crocs are one of only two brands of shoes that...
20997,__label2__,5.0,Y,Shoes,B000EX8CCQ,,I love moccasins This fit like it was custom m...,I love moccasins This fit like it was custom ...
20998,__label2__,5.0,Y,Shoes,B00748YHVE,,"This fit well, comfortable, best investment",I wish these were a little more durable. I got...
20999,__label2__,4.0,Y,Shoes,B00A46KTLU,,"Love these shoes, except for the laces",I've been looking for a replacement for my bel...

In [17]:
reviews_scraped = pd.read_csv("data/product_reviews_scraped.csv", sep=",")
reviews_scraped["verified_purchase"] = np.where(reviews_scraped["verified_purchase"] == True, 1.0, 0.0)
reviews_scraped = reviews_scraped.rename(columns={"id": "product_id", "title": "review_title","content": "review_text", "verified_purchase": "verified", "rating": "rating" })
reviews_scraped['review_text'] = reviews_scraped['review_text'].apply(string_sanetize).astype(str)
reviews_scraped['product_id'] = reviews_scraped['product_id'].apply(string_sanetize).astype(str)
reviews_scraped

,product_id,review_title,rating_count,rating_avg,rating1,rating2,rating3,rating4,rating5,helpful,verified,review_text,rating
0,,"A Dance With Dragons (A Song of Ice and Fire, ...",17539.0,4.5,0.03,0.03,0.07,0.14,0.73,6,1.0,,5
1,,"A Dance With Dragons (A Song of Ice and Fire, ...",17539.0,4.5,0.03,0.03,0.07,0.14,0.73,13,1.0,,4
2,,Research in Music Education: An Introduction t...,7.0,4.8,0.00,0.00,0.00,0.23,0.77,0,1.0,,5
3,,Research in Music Education: An Introduction t...,7.0,4.8,0.00,0.00,0.00,0.23,0.77,0,0.0,,5
4,,James Mason: Odd Man Out,279.0,3.9,0.03,0.09,0.18,0.33,0.36,0,1.0,,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99884,,PowerJive 800pc Laptop Screws Replacment Set R...,46.0,4.4,0.12,0.00,0.00,0.17,0.71,0,1.0,,5
99885,,PowerJive 800pc Laptop Screws Replacment Set R...,46.0,4.4,0.12,0.00,0.00,0.17,0.71,0,1.0,,5
99886,,PowerJive 800pc Laptop Screws Replacment Set R...,46.0,4.4,0.12,0.00,0.00,0.17,0.71,0,1.0,,5
99887,,PowerJive 800pc Laptop Screws Replacment Set R...,46.0,4.4,0.12,0.00,0.00,0.17,0.71,0,1.0,,5
99888,,PowerJive 800pc Laptop Screws Replacment Set R...,46.0,4.4,0.12,0.00,0.00,0.17,0.71,0,1.0,,5

In [18]:
products_scraped = pd.read_csv("data/products_scraped.csv", sep=",")
products_scraped = products_scraped.rename(columns={"title": "product_title", "id": "product_id"})
products_scraped['product_id'] = products_scraped['product_id'].apply(string_sanetize).astype(str)
products_scraped['product_title'] = products_scraped['product_title'].apply(string_sanetize).astype(str)
products_scraped

,product_id,product_title,rating_count,rating_avg,rating1,rating2,rating3,rating4,rating5
0,,,17539.0,4.5,0.03,0.03,0.07,0.14,0.73
1,,,7.0,4.8,0.00,0.00,0.00,0.23,0.77
2,,,279.0,3.9,0.03,0.09,0.18,0.33,0.36
3,,,157.0,4.6,0.03,0.02,0.07,0.12,0.76
4,,,5284.0,4.4,0.01,0.02,0.10,0.31,0.56
...,...,...,...,...,...,...,...,...,...
16304,,,NaN,2.0,0.00,1.00,0.00,0.00,0.00
16305,,,422.0,4.1,0.07,0.05,0.14,0.18,0.56
16306,,,88.0,3.8,0.14,0.06,0.18,0.13,0.49
16307,,,50.0,3.5,0.20,0.00,0.26,0.16,0.38
16308,,,46.0,4.4,0.12,0.00,0.00,0.17,0.71

## Data Preprocessing

In [19]:
# one hot encode product category:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(df[['PRODUCT_CATEGORY']]).toarray())
encoder_df = encoder_df.rename(lambda x: f"cat_{x}", axis=1)
df = df.join(encoder_df)
CATEGORY_COLUMNS = [e for e in encoder_df.columns]
# encode verified purchase as y=1, n=0
df["verified"] = np.where(df["verified"] == "Y", 1.0, 0.0)
df["label"] = np.where(df["LABEL"] == "__label1__", 1.0, 0.0)

In [20]:
# export product ids:
f = open("data/ids.txt", "w+")
f.write("\n".join([e for e in df["product_id"]]))
f.close()

## Feature Engineering

In [21]:
# sentiment analysis scores
from textblob import TextBlob

def get_polarity(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

def get_subjectivity(text):
    blob = TextBlob(text)
    return blob.sentiment.subjectivity

In [22]:
# Sentiment Score for Review tex in df
df['text_sentiment'] = df['review_text'].apply(get_polarity) +1 /2
df['text_subjectivity'] = df['review_text'].apply(get_subjectivity)

In [23]:
# Sentiment Score for Review tex in df
reviews_scraped['text_sentiment'] = reviews_scraped['review_text'].apply(get_polarity)
reviews_scraped['text_subjectivity'] = reviews_scraped['review_text'].apply(get_subjectivity)

In [24]:
df = df.merge(products_scraped, on=["product_id"])

In [25]:
df["product_title"] = df["product_title_x"]
df = df.drop(columns=["LABEL", "product_title_x", "product_title_y"])
reviews_scraped = reviews_scraped.drop(columns=["rating_count", "rating_avg", "rating1", "rating2", "rating3", "rating4", "rating5"])

# Saving the data:

In [26]:
df.to_csv("data/transformed/df.csv")
reviews_scraped.to_csv("data/transformed/reviews_scraped.csv")